<div class="container">
  <mat-accordion class="accordian" multi>
    <app-info-card key="reservation-info" title="How Reservation Works?">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, et?
        Nostrum cumque rerum voluptatem quod officia alias autem officiis
        possimus veritatis voluptatum sint, inventore similique consequatur ut.
        Minus, placeat debitis.
      </p>
    </app-info-card>

    <app-info-card key="loyalty-points" title="How Loyalty Points Works?">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vero alias
        unde expedita laborum quo velit? Consequatur sed similique officia
        quidem deleniti repellendus quae ea provident in cumque, culpa vero
        quod! Atque quod sequi aliquam officiis perferendis tempore voluptate
        pariatur, neque ut harum aut assumenda doloremque ad sunt cumque, ullam
        voluptas soluta amet minus natus! Optio laborum velit in necessitatibus
        quam. Nesciunt pariatur molestiae vero alias, natus earum recusandae
        assumenda in nisi animi? Velit voluptatem hic modi animi, eveniet
        aspernatur omnis deleniti quibusdam consectetur quod voluptas totam odio
        necessitatibus. Nostrum, quisquam. Voluptate magni vitae fugiat culpa
        commodi a? Nesciunt, voluptate asperiores velit at molestiae praesentium
        deleniti in sapiente laborum! Eius voluptas laborum officiis sint
        doloremque, placeat quam assumenda. Doloremque, deserunt distinctio? A,
        incidunt libero ipsum est accusantium quo nemo, modi cupiditate nobis
        nesciunt deserunt repellat exercitationem ex nulla dolorum! Natus alias,
        dolore molestiae iste placeat distinctio numquam corrupti id laborum
        tenetur. Recusandae cupiditate maiores quod unde itaque a similique
        dolores voluptas voluptatibus doloremque dolorum eius, commodi
        dignissimos cumque. Quia, eaque deserunt odit sequi asperiores inventore
        aut suscipit alias voluptatem nobis! Quo? Repudiandae est delectus
        nostrum architecto optio repellendus suscipit. Iusto voluptatem enim
        quas debitis dolorum repellat libero, placeat porro quaerat aut quidem
        nostrum tempora quibusdam mollitia accusamus, facere esse sit? Possimus.
        Dolorem temporibus doloremque ab minima minus voluptatum accusamus
        numquam nisi labore eum architecto provident sunt culpa id veniam
        officiis, itaque quis expedita perspiciatis. Accusamus sequi repellendus
        magnam praesentium id quam! Nam, quo quos hic, laboriosam reprehenderit
        ad nesciunt, iste cupiditate dolore possimus quia inventore aperiam
        doloremque accusamus iure! Reiciendis ducimus aperiam provident
        blanditiis eos unde dolorum distinctio, esse alias animi. Aliquid
        eligendi a officiis, harum aliquam, sequi impedit temporibus saepe natus
        praesentium sint nobis quo esse tenetur enim distinctio inventore beatae
        at totam nesciunt? Cum natus maiores nulla corrupti itaque. Enim labore
        molestias sit ipsam nisi qui vitae esse ratione quibusdam at aperiam
        fuga cumque, praesentium eveniet architecto earum corporis doloremque,
        quaerat odio? Libero non aliquam tempora officia recusandae at. Fugiat
        in ab, dolorem at atque quidem nihil tenetur rem quam harum inventore
        mollitia, libero, id enim unde maiores et autem quasi. Asperiores
        voluptatem explicabo accusantium rem praesentium repellat aut!
        Dignissimos itaque ipsam dolore praesentium fuga minima distinctio
        voluptate placeat id non saepe quo nostrum, optio, exercitationem
        assumenda, dicta corrupti doloribus reprehenderit eaque omnis. Sequi
        fugiat iusto voluptatum facilis dicta. Incidunt, adipisci in? Nisi
        tempora vero fugit, dicta, cum quae expedita similique quis, sit
        nesciunt earum provident temporibus consequuntur quod numquam! Eum
        minima possimus quos quo debitis nesciunt nam temporibus. Aspernatur
        esse quaerat laborum dolorem doloremque. Sint delectus magni nostrum
        cupiditate iusto molestiae voluptatum consequatur dolorem ut, vel
        voluptas dicta autem officia, recusandae similique quis. Labore
        asperiores odit quidem animi! Assumenda vero dolorem nesciunt nulla at
        commodi, quae blanditiis placeat! Dolores eveniet cumque architecto sunt
        tempora earum numquam impedit accusantium aliquid. Fuga repudiandae
        architecto voluptates cupiditate vel nulla quibusdam similique. Aliquid
        dolorum omnis dicta minus pariatur. Doloribus, quae, atque
        exercitationem doloremque culpa quos corrupti eligendi modi unde saepe
        perferendis voluptates, totam praesentium ratione eaque. Amet tempore
        sed quaerat ullam asperiores. Officia beatae quidem maiores atque quasi
        consequuntur laboriosam est, ad odit distinctio minima quisquam
        accusamus, dolorum quam obcaecati voluptate dolor vero sint, optio autem
        quaerat illo minus aut. Totam, quasi! Quis, facere fugit obcaecati, nisi
        ratione quidem, sed numquam atque deserunt dolorem ea? Adipisci
        exercitationem at doloribus. Deleniti modi quae similique, sint dolorem
        odit, maxime cupiditate, doloribus dolorum molestias fuga? Vero
        praesentium itaque laboriosam ab aliquid, molestiae pariatur accusamus
        ipsam enim porro officiis ratione in reprehenderit, quae delectus.
        Accusantium deleniti ipsum sed est vitae tempora dolorem voluptatem
        itaque minima commodi. Harum explicabo soluta at ab saepe. Mollitia sunt
        aspernatur eligendi quasi quis nulla, quibusdam illum, esse dolor nihil
        beatae nesciunt harum voluptatum tempore! Asperiores ex vero quia eos
        possimus aut. Consequuntur praesentium magnam repellendus porro optio!
        Optio eaque beatae tempore aperiam sapiente repellat ipsam, nulla modi
        placeat voluptas officia eum exercitationem quasi id quisquam earum
        tenetur praesentium nesciunt, nobis tempora? Eligendi ullam hic repellat
        cupiditate ab maxime sit nisi inventore! Quos, quae cupiditate
        exercitationem delectus quibusdam praesentium veritatis porro aspernatur
        nesciunt. Et velit eaque, facere distinctio voluptate ea pariatur
        quaerat. Dolorem saepe pariatur illum molestias officiis vero.
        Consequuntur hic ipsa commodi deleniti aliquam repellendus aperiam
        dolorem perferendis eligendi tenetur, itaque dolore deserunt! Commodi
        provident, mollitia harum ab iure suscipit maiores. Soluta facilis
        quidem, accusamus, et delectus fugit, ullam magnam deleniti debitis
        neque cupiditate officia voluptatibus perspiciatis doloremque tenetur
        rerum nemo quibusdam. Fugiat nisi non, harum odit error quis eius
        tempora? Vitae tempora, illum molestiae iusto et nesciunt blanditiis
        quae, facere ducimus neque perferendis totam mollitia a, harum aut rem
        officia consequatur in? Eum explicabo quasi quo itaque id? Quis, libero!
        Aut facilis repellat unde sit! Corporis ullam quos at maxime libero
        sapiente et distinctio quis doloribus vero quidem accusantium error
        repellendus dolor, suscipit, fuga explicabo atque fugit deleniti sint?
        Maiores. Repellendus veritatis numquam harum, ratione velit dicta autem
        obcaecati porro suscipit amet necessitatibus consectetur blanditiis,
        ipsum illum voluptatum fugit optio accusantium ipsa laboriosam! Nisi,
        quaerat quae aliquid est magnam earum! Ab aperiam dolor perspiciatis
        totam sit neque consectetur dolorem illum sint quibusdam, consequuntur
        non sunt, veniam hic. Temporibus, nihil. Magni consectetur perferendis
        aliquid at nihil quasi ullam minus corporis saepe. Non, quam at! Sequi
        magni maxime eveniet rem totam porro in perspiciatis est aliquid,
        officia illum deleniti tenetur molestiae ipsum quisquam quia itaque ut
        eligendi id dolorem? Minima, deleniti ratione? Necessitatibus impedit,
        ipsum minus animi voluptate eaque sunt pariatur cupiditate doloribus
        sint. Sequi culpa ullam tempore nulla ad sed reiciendis voluptates in
        similique voluptatum. Inventore ex aspernatur omnis modi suscipit.
        Delectus explicabo labore aliquid eius illum nisi aperiam laudantium hic
        debitis, voluptatibus reiciendis sit nesciunt molestias non recusandae
        asperiores ad dolorem modi quisquam fugit? Odio labore libero officia
        tenetur sint. Dolores saepe id, hic incidunt inventore aperiam aliquam
        corporis cumque veritatis tenetur nihil excepturi quibusdam nobis modi
        amet magni doloribus nostrum! Adipisci ab, fugit tenetur est voluptates
        nulla enim at! Harum, nam voluptate dolorum fuga illo neque tempore
        voluptatibus provident quasi numquam corporis. Quam eos et iure
        laboriosam fugit maxime corrupti cum ipsa laborum, repudiandae, hic
        ullam corporis, pariatur sed. Ea odit quam sint iure voluptatum esse
        consequuntur pariatur eveniet cumque. Fugit dolor dolores, corrupti
        magni quo repellendus exercitationem, ut ab porro non numquam eos
        possimus explicabo atque obcaecati quaerat. Optio voluptate, at sunt
        aliquam voluptates illo et adipisci sequi magni magnam! Obcaecati
        quibusdam, corporis ratione officiis, quam quia quidem enim, aliquam
        delectus autem molestiae qui non! Sunt, temporibus fuga. Error dolore
        neque cumque fugit? Tempore libero repellat id! Esse culpa provident
        exercitationem, consequuntur facere natus ratione eos quis maxime fuga
        ab pariatur, nisi cupiditate sed debitis facilis fugiat sit! Impedit
        quam nobis nisi sit ab eos laudantium architecto reprehenderit saepe,
        doloremque maiores nesciunt explicabo! Facilis quam minima vero commodi
        architecto, ullam hic eius error, expedita eum inventore, consequuntur
        ut? Consectetur in voluptatem animi recusandae? Quis veritatis eveniet
        neque quidem sit id optio exercitationem tempore aliquid eos distinctio
        cupiditate maiores quaerat, enim dolorem. Consequatur numquam velit
        laborum incidunt praesentium saepe? Praesentium nostrum quisquam rerum
        sunt reprehenderit neque corrupti illum assumenda laborum quae soluta
        delectus quos, eos omnis aspernatur nesciunt eaque fuga recusandae
        tenetur, aliquid saepe consequatur molestiae? Quasi, aspernatur velit.
        Sequi, aliquam enim expedita perspiciatis, soluta labore consectetur quo
        eum atque perferendis suscipit at accusantium dolores aliquid, quaerat
        facilis non obcaecati ab asperiores. Quis qui quidem placeat vitae,
        praesentium omnis. Ipsa atque velit qui voluptatum perspiciatis
        laboriosam saepe illum, ipsam nemo ipsum fugiat nesciunt sit error
        dolores eaque possimus unde nisi iure iusto nam officia consequuntur
        tenetur. Dolor, impedit dolorum? Quae, nihil minus? Id sapiente delectus
        accusamus tempore corporis provident sunt dolorum. Ex, ducimus debitis
        inventore reiciendis nam minima quam commodi natus iusto, facere fugiat
        alias et facilis corrupti sunt? Eos vero consequuntur ducimus, nostrum
        omnis facilis esse voluptatum necessitatibus assumenda in accusantium
        officia veritatis harum temporibus vel iusto veniam adipisci quisquam
        ipsum tempora sapiente perspiciatis repellendus. Ex, reiciendis ipsa.
        Totam, laboriosam quidem tempora, quisquam ab cum nulla quos minus magni
        at pariatur saepe et numquam. Dolor quaerat eos fugit impedit! Et
        placeat velit voluptates eius laudantium dolores recusandae unde!
        Voluptatibus debitis dolore, modi rerum mollitia qui cupiditate,
        architecto commodi harum illum dolor provident repellat officiis tempora
        laborum tempore id quisquam culpa minima. Aspernatur quos omnis
        cupiditate, eos corporis ut. Magnam, itaque. Pariatur facere maiores
        minima soluta debitis quam, id consectetur iusto nobis modi aperiam
        suscipit animi quod veritatis rerum perferendis, quis dolorem. Tenetur,
        laborum quos consequuntur nulla placeat perferendis. Tempore officia
        ipsum aliquid amet, illum magni odit ut rem! Optio molestiae inventore
        omnis porro, molestias ipsa. Dignissimos, temporibus adipisci dicta,
        numquam omnis veniam minus consectetur, architecto cumque quis
        voluptates? Nam, consequuntur? Fugiat labore, reprehenderit sint
        asperiores animi beatae ad ut doloribus exercitationem facilis. Expedita
        itaque explicabo, laboriosam culpa voluptatem, animi illum fuga iure
        ratione modi eaque neque hic aliquid. Doloremque enim tenetur saepe
        maiores nam hic repudiandae dolorum, magnam ab eos. Dolore possimus aut,
        corporis quisquam assumenda magni nulla repellat voluptatum ex ut
        tenetur, eos, a deleniti facere beatae. Omnis, ipsa dignissimos deleniti
        enim reiciendis illo earum placeat. Dolorem, esse totam corrupti autem
        ea adipisci distinctio nemo dolore saepe neque molestias nihil.
        Possimus, error quaerat nobis veniam quam delectus! Consequuntur
        necessitatibus totam sapiente eius, cupiditate natus, eos delectus,
        consequatur temporibus nisi itaque at! Praesentium, doloribus quod!
        Cupiditate, libero harum! Natus sint quod consectetur corporis dolorum
        placeat ad earum praesentium! Possimus magnam cumque iusto nam, sint
        voluptatum placeat optio? Sequi maiores pariatur quibusdam explicabo.
        Similique hic quasi magni rem praesentium quisquam eligendi fugit illum,
        quae quod aliquid, dicta facilis deleniti. Dignissimos in magnam
        quisquam. Voluptates quae perferendis dolorem minima, earum alias
        expedita, impedit reiciendis nostrum provident error debitis delectus
        rerum tenetur accusamus! Reprehenderit assumenda laborum facilis, unde
        sed minima amet! Earum pariatur deserunt inventore, sequi nostrum
        cupiditate error totam ipsa velit suscipit ea cumque voluptas a corrupti
        vel laborum impedit quo maiores voluptatibus, sed illum facilis
        quibusdam! Temporibus, doloremque repellendus! Odio, doloribus deserunt?
        Maiores praesentium consectetur commodi autem. Incidunt quis optio
        tempora, suscipit nisi autem consectetur laborum esse. Harum in dolores,
        eius inventore rerum enim quasi molestiae ea mollitia accusantium. Ad
        modi exercitationem harum beatae quod inventore perferendis eveniet
        laudantium deserunt! Dolor, neque. Quam laborum placeat architecto
        consequuntur, veniam quibusdam iusto! Quas tempora libero hic esse
        accusantium facilis officia laborum. Ipsum repellendus aliquid, in id
        neque sit libero nulla, officia dicta numquam eveniet? Tempore dicta sed
        molestias. Perferendis, quisquam! Temporibus nemo, tempora at modi ea
        beatae architecto blanditiis praesentium odio. Saepe vitae id labore
        mollitia cumque dolore, cum animi quis, odit itaque in voluptatibus nisi
        quisquam? Repellendus cupiditate, blanditiis modi, sed magni accusamus
        veritatis et quidem ut, sint cumque dolore. Laudantium ad fugit
        deserunt, minima itaque doloribus aspernatur ipsum sint nisi, recusandae
        beatae saepe excepturi quis alias repellendus adipisci dignissimos
        nesciunt voluptatibus pariatur quidem doloremque laborum ea? Ratione,
        quisquam quasi! Cum ut, et, aliquid delectus, inventore praesentium
        reiciendis expedita magnam vel consequuntur dolorum incidunt? Fugiat
        sunt magnam ducimus. Laudantium dolorem quia quo quibusdam totam cumque
        assumenda aspernatur ullam maxime rerum. Est aperiam blanditiis maiores
        fugit laudantium molestias illum minima dicta nemo repellendus cumque
        libero porro excepturi praesentium harum, hic deleniti. A, sunt
        expedita? Nobis, repudiandae beatae corporis possimus architecto
        suscipit! Exercitationem in ducimus deserunt dicta quasi explicabo sit
        ad dolore illum, veritatis impedit soluta voluptates officiis dolorem
        temporibus magnam sed porro assumenda harum sapiente quam nostrum iure
        minima. Quos, ipsam. Iusto libero accusantium mollitia, ut sequi
        possimus ex cum autem repellendus commodi, molestias dicta esse atque
        laborum explicabo non perferendis delectus rerum deserunt eius illo. Est
        provident ipsum perspiciatis nobis. Totam porro aut eos quo, esse,
        possimus fugit quos vitae sed officia ipsum excepturi! Vel deleniti ea
        ex excepturi aliquam assumenda labore quaerat, repudiandae, velit
        ratione dolore earum! Nobis, amet. Officia ut corporis nesciunt cumque
        atque facilis, voluptatum eligendi deleniti perferendis veniam officiis
        quibusdam corrupti sunt nemo quaerat qui, ratione soluta rerum quo
        consectetur debitis vitae tempore et? Adipisci, ullam. Quidem,
        molestiae. Accusamus animi placeat est unde. A architecto quis, expedita
        iure dolores est veritatis inventore, tempora, possimus illo provident
        repudiandae porro. Repellendus voluptatibus ad quod eum necessitatibus,
        eligendi quisquam! At quaerat cum iusto magnam aliquam, numquam tempore
        officia delectus quibusdam. Ad beatae possimus fugit autem et impedit
        porro iste, illum sit, cumque perspiciatis dolorem! Amet nulla a magnam
        sapiente? In reiciendis neque debitis corrupti, officia fugiat
        voluptatem molestiae. Optio, similique voluptate quas cupiditate nemo
        autem suscipit facilis corporis vel et molestias, saepe, ab nobis. Magni
        repellendus numquam nisi eveniet? Molestias voluptates maiores similique
        velit porro animi natus recusandae, quaerat in earum laboriosam
        excepturi quo quisquam at laborum quasi, beatae, molestiae provident
        architecto nemo rerum modi minus veritatis. Laborum, temporibus?
        Distinctio tempore nesciunt magni dignissimos modi natus, autem dolore
        officia cumque tenetur? Magnam cumque quaerat nihil, esse voluptatibus
        excepturi dolor minima, quam aspernatur sit ipsa alias optio
        consectetur, reiciendis amet? Illum necessitatibus fugit, delectus ipsum
        rem minus earum dolorum rerum ipsam unde fuga neque molestias
        consectetur, veniam officia? Vel nihil, quod possimus blanditiis hic
        enim. Velit molestiae amet eius eaque. Quisquam quidem officiis eius,
        voluptate, eligendi doloribus quae id debitis voluptas labore esse
        excepturi sequi tempora tenetur itaque ex possimus quos nulla soluta.
        Reiciendis, error. Neque accusamus dolorem culpa placeat! Nihil optio
        ipsam quo assumenda tenetur distinctio sint ad exercitationem commodi
        sapiente unde dicta molestias voluptatibus mollitia repellat fugit vitae
        pariatur consequuntur voluptate saepe cumque ea, repellendus ut!
        Corrupti, placeat! Nostrum maiores asperiores veniam dolor molestiae
        exercitationem earum laudantium, fugit doloribus, aliquam quidem
        expedita rem incidunt quibusdam voluptatibus? Laboriosam natus
        voluptatem quasi numquam atque, quisquam sunt repellat. Modi, dolores
        non! Beatae ex earum libero dolore illum enim cum soluta eaque debitis
        laboriosam nihil fuga a quis, odit sit corrupti inventore incidunt nam
        tempore deleniti. Laborum veritatis soluta asperiores neque voluptatum!
        Eaque facere maxime quisquam, voluptatibus itaque ducimus ipsa delectus
        ex eveniet accusamus magni odio illum dolores harum eos aperiam vel
        debitis! Minima cumque dignissimos provident reprehenderit libero ipsum
        officiis cupiditate! Praesentium iste excepturi asperiores quod est nam.
        Nesciunt inventore ipsum quidem, fuga enim maiores earum veritatis
        facilis ab. Atque voluptas molestias officia ducimus esse provident
        neque ut! Ab, ipsam vel. Cumque repellat quo nisi, nemo officiis harum
        molestiae impedit blanditiis, expedita maiores ipsum quae culpa dicta
        perferendis debitis. Est doloremque at voluptate sequi, consequuntur
        quas corrupti praesentium molestias ea voluptatibus. Molestiae earum
        quae eius nam ducimus, tempore dolor quibusdam, hic maxime
        exercitationem quam a sed illo totam ipsum quod quisquam laboriosam at!
        Dolorem pariatur atque, deserunt hic veniam rem. Temporibus! Voluptatem
        quod optio magnam temporibus nisi quasi harum vero, iusto esse aut
        cumque quos sit maxime blanditiis debitis dolor accusantium tempore
        laudantium eaque, placeat officiis architecto ad minima? Esse,
        temporibus. Aperiam aspernatur, deserunt impedit necessitatibus officia
        animi earum, sed iste veniam laboriosam quia, totam eius. Suscipit
        eligendi deserunt possimus excepturi illum et dolore sunt. Enim ex
        placeat possimus sit totam. Amet consequatur laudantium alias cumque
        iste voluptate. Deserunt minus laudantium numquam, reiciendis impedit
        consectetur temporibus rerum, magni ducimus soluta placeat ad vel
        blanditiis! Assumenda modi, autem voluptates ipsa perspiciatis
        voluptatum. Magnam aliquid aliquam exercitationem tenetur nobis
        excepturi esse sint, enim libero magni. Maiores minima, repellat
        distinctio asperiores consequatur amet dignissimos. Accusamus architecto
        ipsam eaque esse possimus minus, obcaecati sit distinctio. Incidunt
        laboriosam minus non, distinctio tempora praesentium! Saepe repellendus
        corrupti nostrum, architecto voluptatem sed labore incidunt excepturi
        deleniti accusamus nam at autem possimus exercitationem numquam ipsa
        est, non perspiciatis quo. Sed, ut. Accusantium illo tempora voluptatum
        qui saepe dolor enim corporis, adipisci velit ipsam facilis sint aut
        repellendus dignissimos dolorum debitis doloribus quidem, nihil, autem
        voluptas quis porro blanditiis! Exercitationem? Ipsum eum laudantium
        maiores aperiam ducimus at ea accusamus alias nostrum? Provident commodi
        ratione delectus natus velit. Corrupti eum incidunt culpa aliquid,
        quisquam quod, delectus ea, officia temporibus praesentium accusantium.
        Expedita nesciunt, aliquam nemo voluptatibus hic itaque doloremque
        nostrum libero fugit molestias veniam, rem laudantium autem? Facere
        eligendi assumenda expedita ducimus modi. Quo excepturi exercitationem
        amet, aliquid voluptatibus at corrupti? Corrupti blanditiis id, libero
        neque provident quia fuga rerum excepturi aspernatur harum adipisci
        placeat. Quas eos, architecto beatae iste alias voluptate ipsa
        distinctio voluptatibus accusantium dignissimos tenetur minima doloribus
        quaerat. Necessitatibus est incidunt natus labore quos? Placeat velit
        nulla sit nesciunt totam illo asperiores voluptatem maiores voluptate
        dolor alias officia ratione inventore tempore eaque iure, illum soluta
        perspiciatis veritatis. Iusto! Dolores neque est veniam nostrum impedit
        consequatur, repellendus odit excepturi vero. Ducimus ut vitae atque
        illum, eos nobis voluptas cumque amet ratione fugit doloribus expedita
        dolores eaque assumenda soluta iure. Culpa totam molestias quis nobis
        quo. Sed, a? Doloremque molestias neque optio minus esse ipsa at, nulla
        tempora inventore corporis atque ex odit perferendis ea veritatis
        tempore amet. Fugiat, dolor! Odio, dignissimos sapiente minima repellat
        earum possimus veritatis ad saepe nemo. Fugiat ut, voluptatum maiores
        nisi eveniet enim distinctio. Eveniet nobis eos dolorum repellat sint.
        Laboriosam eveniet atque dolorum cumque! Omnis, iure eaque. Corrupti
        cupiditate, tenetur corporis quam aliquam, vero quidem culpa
        exercitationem impedit eveniet, aut sunt nostrum. Ea at vel dicta
        mollitia! Optio, corporis. Ipsum consequatur nostrum aut aspernatur.
        Amet, quibusdam, beatae tempora nam mollitia error pariatur repellat est
        obcaecati cum iure dolor cupiditate recusandae at ipsam? Esse sunt sed
        eligendi animi praesentium voluptas dolorum ducimus accusantium
        deserunt? Accusamus. A, quae perferendis odio obcaecati cumque molestias
        quisquam dolorem debitis maiores? Deleniti, dolores nulla sit minus hic,
        placeat eos aspernatur libero natus itaque praesentium quasi delectus.
        Perferendis reiciendis atque voluptates? Quo enim necessitatibus nam
        ratione totam vitae quam facilis. Temporibus minus cum voluptates
        molestias, fugiat, eum hic quas nostrum voluptatem molestiae, est alias
        ex qui pariatur atque quia beatae reprehenderit. Nesciunt distinctio
        labore magni nostrum laboriosam expedita odio aspernatur ducimus.
        Necessitatibus quam voluptates maxime id maiores quo obcaecati
        veritatis! Nisi labore aperiam sapiente molestiae laboriosam, debitis
        praesentium eveniet iure dolor. Aliquid, corrupti? Praesentium magnam
        ullam tempore harum perferendis inventore cumque saepe quisquam tenetur
        doloremque quo, deleniti minus modi, illo incidunt non a quibusdam optio
        et molestiae asperiores illum sunt quas. Sequi harum omnis ad nam vitae
        repudiandae, tempore veritatis facere perferendis quod voluptates fugit
        quia quasi officiis dolorum, et delectus sed at eum voluptatum quaerat
        quibusdam! Temporibus voluptate veniam eligendi!
      </p>
    </app-info-card>

    <app-info-card key="privacy-policy" title="Privacy Policy">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
        obcaecati magni tempora itaque minima nobis voluptates doloremque! Culpa
        accusantium porro, consequuntur quas eveniet neque, ad, suscipit
        obcaecati sed fugiat vitae! Nisi, quibusdam cumque laborum totam rem
        aliquid ab quo facere numquam qui earum in quis animi repudiandae
        dolorem voluptatem. Officia, animi rem. Perferendis aperiam rerum ab
        magnam. Fuga, iure ab? Est deserunt sapiente qui aspernatur numquam,
        possimus libero voluptate esse nam delectus, autem expedita doloribus
        odio. Dolorem magnam provident excepturi dignissimos corrupti ipsum
        magni ratione eius nihil fugit, error consequatur! Eaque distinctio
        minima mollitia, nobis facere rerum eos excepturi maxime modi debitis
        obcaecati suscipit ipsa corrupti nulla pariatur libero deleniti impedit
        commodi non. Quos, ipsam odit! Rerum tempora consectetur voluptatem.
        Dignissimos nisi voluptatum veritatis molestias, modi itaque. Voluptate
        in ea accusantium id soluta nobis aperiam repellendus laborum et. Modi,
        quo ipsa? Animi quidem quasi atque perspiciatis doloremque qui,
        provident reprehenderit. Et vitae quos maxime omnis possimus eum
        inventore distinctio earum sed quas, provident quia animi explicabo
        placeat aliquid? Eligendi velit maxime molestiae provident, ad excepturi
        ullam iusto quos rem assumenda? Praesentium recusandae cumque similique
        exercitationem culpa asperiores sequi, fugit accusantium quo commodi
        voluptatum provident! Quisquam cumque id, doloribus earum in sit
        laboriosam tempore explicabo vitae consectetur repellat, corporis,
        necessitatibus alias. Est labore cupiditate dolore odit at, saepe
        perferendis ea dolorem voluptatum, nesciunt maxime beatae, veniam
        exercitationem perspiciatis numquam quo eius sapiente voluptatem
        provident. Provident cum sequi fugit impedit quas natus? Temporibus
        ipsum pariatur quasi voluptate corrupti quibusdam velit soluta ab.
        Maxime earum doloribus magni eaque dignissimos illum id ex, ipsum dolor
        modi officia fugit sapiente ipsam eos explicabo aspernatur. Commodi. A
        officiis voluptatibus dicta reprehenderit amet temporibus veritatis
        aliquid illo. Reprehenderit vitae dolores rerum quibusdam? Tempore
        impedit debitis ad dolores ex. Mollitia, inventore? Sapiente, aperiam
        quos at animi numquam ut. Eum minima possimus repellat ipsa veritatis
        saepe sunt accusamus mollitia aut pariatur? Eos ducimus cumque
        blanditiis tenetur laborum suscipit explicabo, facere voluptate soluta
        repellat eum dolor maxime optio quibusdam accusantium. Commodi beatae
        repellat at alias ducimus! Magni laudantium exercitationem et
        repudiandae nisi optio eveniet minima dolore, vel ut ipsa doloribus
        sapiente harum reprehenderit, quia tempore magnam excepturi nostrum
        alias incidunt? Laudantium eum tempore repellat quibusdam nihil corporis
        debitis temporibus quia dignissimos, asperiores modi beatae eos qui non
        quod quo porro doloremque omnis aliquam placeat voluptatum ipsa, dolorum
        vitae cum. Asperiores. Sunt ab harum culpa obcaecati vitae quibusdam
        enim sapiente quia tempora ipsam suscipit assumenda, nulla beatae odit
        facilis dolorum nemo velit sit unde dolorem officiis? Aut blanditiis
        dolorem minus ipsam! Facere impedit nemo similique tempore molestiae
        nobis unde ad. Excepturi facere ipsa odio laboriosam illo suscipit
        exercitationem incidunt et laudantium, blanditiis, dolorem sint saepe
        fuga non. Reprehenderit beatae repellat suscipit. Laborum optio
        consequatur molestias, rem itaque dicta commodi, deleniti ex a assumenda
        iusto modi aliquam, veritatis eligendi impedit laudantium voluptatum
        ipsa quis non quasi! Perspiciatis optio suscipit a nisi autem? Sit
        recusandae eos necessitatibus quidem. Deleniti rerum beatae possimus
        officia dolore saepe hic fugiat praesentium adipisci omnis illo aliquid
        pariatur, qui ipsum ea nesciunt, delectus, et in vitae mollitia quae?
        Earum accusamus obcaecati labore sint accusantium quos sit similique
        minima ipsa! Vitae officiis aut ab a dignissimos, sapiente placeat
        consequuntur laborum dolore illum tenetur eum molestiae repellendus
        nesciunt. Temporibus, commodi. Totam accusamus ex, doloremque non
        excepturi earum, suscipit, quam quos similique ducimus deserunt quis?
        Repellat nostrum dolores quisquam officiis explicabo, veniam
        consectetur, facere harum, praesentium esse minus unde eaque similique.
        Voluptate odio, perferendis similique reiciendis ratione neque in cumque
        enim corporis non reprehenderit doloremque qui maxime recusandae sunt
        praesentium ducimus nesciunt. In enim vitae deleniti adipisci aliquid?
        Corporis, veniam quaerat.
      </p>
    </app-info-card>

    <app-info-card key="terms-of-service" title="Terms of Service">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, et?
        Nostrum cumque rerum voluptatem quod officia alias autem officiis
        possimus veritatis voluptatum sint, inventore similique consequatur ut.
        Minus, placeat debitis.
      </p>
    </app-info-card>
  </mat-accordion>
</div>
