<div class="ingredients-page">
  <div class="header">
    <h2>Ingredients</h2>
    <div class="form-group">
      <input type="text" placeholder="Search by name..." />
      <mat-icon>search</mat-icon>
    </div>
  </div>

  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="Spices">
      <div class="tab-content">
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
        <app-ingredient></app-ingredient>
      </div>
    </mat-tab>
    <mat-tab label="Sauces">
      <div class="tab-content">Content 2</div>
    </mat-tab>
    <mat-tab label="Vegitables">
      <div class="tab-content">Content 3</div>
    </mat-tab>
    <mat-tab label="Fruits">
      <div class="tab-content">Content 3</div>
    </mat-tab>
    <mat-tab label="Oils">
      <div class="tab-content">Content 3</div>
    </mat-tab>
    <mat-tab label="Flours">
      <div class="tab-content">Content 3</div>
    </mat-tab>
    <mat-tab label="Drinks">
      <div class="tab-content">Content 3</div>
    </mat-tab>
    <mat-tab label="Spices">
      <div class="tab-content">Content 1</div>
    </mat-tab>
    <mat-tab label="Sauces">
      <div class="tab-content">Content 2</div>
    </mat-tab>
    <mat-tab label="Vegitables"
      ><div class="tab-content">Content 3</div>
    </mat-tab>
  </mat-tab-group>
</div>
