@use "sass:map";
@use "sass:color";

$breakpoints: (
  "sm": 640px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1280px,
  "2xl": 1536px,
);

@mixin screen($breakpoint) {
  $value: map.get($breakpoints, $breakpoint);
  @if $value {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "🚨 No breakpoint found for `#{$breakpoint}`";
  }
}

@mixin serif-font {
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin screen-width {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

@mixin button($bg, $fg) {
  background-color: $bg;
  color: $fg;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: color.scale($bg, $lightness: -2.5%);
  }

  &:active {
    background-color: color.scale($bg, $lightness: -5%);
  }
}

@mixin grid-cols(
  $default_colums: 1,
  $col-config,
  $col-gap: 20px,
  $row-gap: 20px
) {
  display: grid;
  grid-template-columns: repeat($default_colums, minmax(0, 1fr));
  @each $breakpoint, $columns in $col-config {
    @include screen($breakpoint) {
      grid-template-columns: repeat($columns, minmax(0, 1fr));
    }
  }
  column-gap: $col-gap;
  row-gap: $row-gap;
}
