@use "@angular/material" as mat;

// Mat Icons

$mat-icon-sizes: (
  xs: 18px,
  sm: 20px,
  md: 24px,
  lg: 28px,
  xl: 32px,
);

@each $name, $size in $mat-icon-sizes {
  .mat-icon-#{$name} {
    font-size: $size;
    height: $size;
    width: $size;
    line-height: $size;
  }
}

// Forms

.form-container {
  width: 100%;
  max-width: 24rem;

  &.lg {
    max-width: 36rem;
  }

  &.centered {
    margin: 0 auto;
  }

  &.col-1 form {
    display: grid;
    gap: 0.6rem;

    button {
      margin-top: 0.2rem;
    }
  }
}

// Alerts

.alert-success {
  @include mat.snack-bar-overrides(
    (
      container-color: oklch(44.8% 0.119 151.328),
      supporting-text-color: oklch(98.2% 0.018 155.826),
      button-color: oklch(98.2% 0.018 155.826),
    )
  );
}

.alert-error {
  @include mat.snack-bar-overrides(
    (
      container-color: oklch(44.4% 0.177 26.899),
      supporting-text-color: oklch(97.1% 0.013 17.38),
      button-color: oklch(97.1% 0.013 17.38),
    )
  );
}

.alert-warning {
  @include mat.snack-bar-overrides(
    (
      container-color: oklch(47.6% 0.114 61.907),
      supporting-text-color: oklch(98.7% 0.026 102.212),
      button-color: oklch(98.7% 0.026 102.212),
    )
  );
}
