@use "@angular/material" as mat;
@use "mixins" as *;
@use "components";
@use "mat_overrides";
@use "theme";
@use "preflight" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Inter, "Helvetica Neue", sans-serif;
}

html {
  @include mat.theme(
    (
      color: theme.$primary-palette,
      typography: Inter,
      density: 0,
    )
  );
}

.customer {
  @include preflight;

  h1,
  h2,
  h3,
  h4 {
    @include serif-font;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;

    @include screen("md") {
      font-size: 3.5rem;
    }
  }

  p.description {
    line-height: 1.5rem;
    font-weight: 300;
  }
}
