@use "@angular/material" as mat;
@use "./_theme" as my-theme;
@use "sass:map";

$primary-color: map.get(my-theme.$primary-palette, 25);
$primary-invert-color: map.get(my-theme.$primary-palette, 98);

:root {
  @include mat.progress-bar-overrides(
    (
      active-indicator-color: $primary-invert-color,
      track-color: $primary-color,
    )
  );

  @include mat.toolbar-overrides(
    (
      container-background-color: $primary-color,
      container-text-color: $primary-invert-color,
      standard-height: 56px,
      title-text-size: 1rem,
      title-text-weight: 500,
    )
  );

  @include mat.sidenav-overrides(
    (
      container-background-color: $primary-color,
      container-text-color: $primary-invert-color,
    )
  );

  @include mat.list-overrides(
    (
      list-item-leading-icon-color: map.get(my-theme.$primary-palette, 10),
      list-item-hover-leading-icon-color: map.get(my-theme.$primary-palette, 30),
    )
  );

  .sidenav {
    @include mat.list-overrides(
      (
        list-item-hover-state-layer-color: $primary-invert-color,
        list-item-hover-state-layer-opacity: 0.05,
        list-item-focus-state-layer-color: $primary-invert-color,
        list-item-focus-state-layer-opacity: 0.05,
        list-item-label-text-color: $primary-invert-color,
        list-item-hover-label-text-color: $primary-invert-color,
        list-item-focus-label-text-color: $primary-invert-color,
        list-item-selected-container-color: $primary-color,
      )
    );
  }
}
