<section id="hero">
  <div class="bg">
    <swiper-container
      class="slider"
      slides-per-view="1"
      speed="500"
      loop="true"
      autoplay="true"
    >
      @for (sliderImage of sliderImages; track $index) {
      <swiper-slide>
        <img [ngSrc]="sliderImage" fill alt="Hero Banner" priority />
      </swiper-slide>
      }
    </swiper-container>
  </div>

  <div class="container">
    <div class="content">
      <h1>Experience Dining Like Never Before</h1>
      <p class="description">
        Indulge in a culinary journey that transcends the ordinary. Reserve your
        table today and immerse yourself in a world of exquisite flavors and
        unparalleled comfort.
      </p>
      <div class="hero-buttons">
        <button class="btn" mat-raised-button>Reserve</button>
        <button class="btn transparent-button" mat-button>Menu</button>
      </div>
    </div>
  </div>
</section>

<section id="offers">
  <div class="heading centered">
    <h2>Our Best Offers</h2>
    <!-- <p class="description">
      Experience the luxury of fine dining with our exclusive offers. Treat
      yourself to gourmet delights and special perks designed just for you.
    </p> -->
  </div>
  <div class="items">
    <app-offer-card-static />

    <div class="scroll-wrapper">
      <button class="scroll-arrow left" (click)="scrollLeft()">‹</button>

      <div class="items-scrollable" #scrollContainer>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
        <app-offer-card></app-offer-card>
      </div>

      <button class="scroll-arrow right" (click)="scrollRight()">›</button>
    </div>
  </div>
</section>
<section id="signatures">
  <div class="heading">
    <h5>Exquisite</h5>
    <h2>Indulge in Our Chef's Signature Creations</h2>
    <p class="description">
      Experience culinary artistry with our handpicked signature dishes. Each
      plate is a masterpiece crafted to delight your senses.
    </p>
    <div class="column-set">
      <div class="columns">
        <img src="/images/home/Relume.png" alt="relume1" />
        <p>Chef's Choice</p>
        <p class="description">
          Savor the flavors of our exclusive chef-selected dishes, each a true
          culinary delight.
        </p>
      </div>
      <div class="columns">
        <img src="/images/home/Relume2.png" alt="relume2" />
        <p>Seasonal Special</p>
        <p class="description">
          Discover seasonal offerings that showcase the freshest ingredients and
          innovative techniques.
        </p>
      </div>
    </div>
    <div class="buttons">
      <button class="btn transparent-button" mat-button>Menu</button>
      <button class="btn" mat-button>Explore ></button>
    </div>
  </div>
  <div class="content">
    <img src="/images/home/placeholderimg.png" alt="" />
  </div>
</section>
<section id="experience">
  <div class="heading centered">
    <h5>Experience</h5>
    <h2>Your Table Awaits: A Seamless Journey</h2>
    <p class="description">
      At Resto Ease, we elevate your dining experience through a seamless
      process. From reservation to feedback, every step is designed for your
      comfort and satisfaction.
    </p>
  </div>
  <div class="items">
    <div class="item">
      <img src="/images/home/placeholderimg.png" alt="">
      <h4>Five Simple Steps to Dine with Us</h4>
      <p class="description">Reserve your table online for a hassle-free experience.</p>
    </div>
    <div class="item">
      <img src="/images/home/placeholderimg.png" alt="">
      <h4>Arrive and Be Welcomed with Elegance</h4>
      <p class="description">Our staff will greet you and ensure your comfort.</p>
    </div>
    <div class="item">
      <img src="/images/home/placeholderimg.png" alt="">
      <h4>Scan Your Table QR for Ordering</h4>
      <p class="description">Easily access our menu and order at your pace.</p>
    </div>
  </div>
  <div class="buttons">
    <button class="btn transparent-button" mat-button>Menu</button>
    <button class="btn" mat-button>Explore ></button>
  </div>
</section>
<section id="about">
  <div class="heading">
    <h5>Our Story</h5>
    <h2>About Us</h2>
    <p class="description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos, vel
      iste a reiciendis repellat fuga dolore ad unde amet, consectetur commodi!
      Nostrum fuga recusandae alias itaque exercitationem ullam voluptatem
      laudantium!
    </p>
  </div>
  <div class="content">
    <img
      class="banner"
      ngSrc="/images/home/about-banner.jpg"
      width="1920"
      height="1080"
      alt="About Banner"
      priority
    />
    <div class="description">
      <div class="item">
        <h4>1977 October 15</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
          perferendis deserunt rem sit laboriosam. Molestiae, accusamus sapiente
          aut, asperiores voluptatem debitis blanditiis sed incidunt nisi quasi
          magni vero assumenda facilis.
        </p>
      </div>
      <div class="item">
        <h4>1977 October 15</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
          perferendis deserunt rem sit laboriosam. Molestiae, accusamus sapiente
          aut, asperiores voluptatem debitis blanditiis sed incidunt nisi quasi
          magni vero assumenda facilis.
        </p>
      </div>
      <div class="item">
        <h4>1977 October 15</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
          perferendis deserunt rem sit laboriosam. Molestiae, accusamus sapiente
          aut, asperiores voluptatem debitis blanditiis sed incidunt nisi quasi
          magni vero assumenda facilis.
        </p>
      </div>
      <div class="item">
        <h4>1977 October 15</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
          perferendis deserunt rem sit laboriosam. Molestiae, accusamus sapiente
          aut, asperiores voluptatem debitis blanditiis sed incidunt nisi quasi
          magni vero assumenda facilis.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="heading centered">
    <h5>Contact Us</h5>
    <h2>Get in touch with us</h2>
    <p class="description">
      Experience the luxury of fine dining with our exclusive offers. Treat
      yourself to gourmet delights and special perks designed just for you.
    </p>
  </div>
  <div class="items">
    <div class="item">
      <h4>Visit Us</h4>
      <p class="description">asdsda</p>
    </div>
    <div class="item">
      <h4>Call Us</h4>
      <p class="description">asdsda</p>
    </div>
    <div class="item">
      <h4>Email Us</h4>
      <p class="description">asdsda</p>
    </div>
  </div>
</section>
