<app-customer-layout>
  <section id="hero">
    <img class="bg" ngSrc="/home-hero.png" fill alt="Hero Banner" priority />
    <div class="container">
      <div class="content">
        <h1>Experience Dining Like Never Before</h1>
        <p class="description">
          Indulge in a culinary journey that transcends the ordinary. Reserve
          your table today and immerse yourself in a world of exquisite flavors
          and unparalleled comfort.
        </p>
        <button class="btn light">Reserve a Table</button>
      </div>
    </div>
  </section>
  <section id="offers">
    <div class="heading centered">
      <h5>Offers</h5>
      <h2>Indulge in Our Exclusive Seasonal Promotions</h2>
      <p class="description">
        Experience the luxury of fine dining with our exclusive offers. Treat
        yourself to gourmet delights and special perks designed just for you.
      </p>
    </div>
    <div class="items">
      <app-offer-card />
      <app-offer-card />
      <app-offer-card />
      <app-offer-card />
      <app-offer-card />
      <app-offer-card />
    </div>
  </section>
  <section id="about">
    <div class="heading">
      <h5>Our Story</h5>
      <h2>About Us</h2>
      <p class="description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos,
        vel iste a reiciendis repellat fuga dolore ad unde amet, consectetur
        commodi! Nostrum fuga recusandae alias itaque exercitationem ullam
        voluptatem laudantium!
      </p>
    </div>
    <div class="content">
      <img
        class="banner"
        ngSrc="/home-hero.png"
        width="1920"
        height="1080"
        alt="About Banner"
        priority
      />
      <div class="description">
        <div class="item">
          <h4>1977 October 15</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            perferendis deserunt rem sit laboriosam. Molestiae, accusamus
            sapiente aut, asperiores voluptatem debitis blanditiis sed incidunt
            nisi quasi magni vero assumenda facilis.
          </p>
        </div>
        <div class="item">
          <h4>1977 October 15</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            perferendis deserunt rem sit laboriosam. Molestiae, accusamus
            sapiente aut, asperiores voluptatem debitis blanditiis sed incidunt
            nisi quasi magni vero assumenda facilis.
          </p>
        </div>
        <div class="item">
          <h4>1977 October 15</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            perferendis deserunt rem sit laboriosam. Molestiae, accusamus
            sapiente aut, asperiores voluptatem debitis blanditiis sed incidunt
            nisi quasi magni vero assumenda facilis.
          </p>
        </div>
        <div class="item">
          <h4>1977 October 15</h4>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias
            perferendis deserunt rem sit laboriosam. Molestiae, accusamus
            sapiente aut, asperiores voluptatem debitis blanditiis sed incidunt
            nisi quasi magni vero assumenda facilis.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="heading centered">
      <h5>Contact Us</h5>
      <h2>Get in touch with us</h2>
      <p class="description">
        Experience the luxury of fine dining with our exclusive offers. Treat
        yourself to gourmet delights and special perks designed just for you.
      </p>
    </div>
    <div class="items">
      <div class="item">
        <h4>Visit Us</h4>
        <p class="description">asdsda</p>
      </div>
      <div class="item">
        <h4>Call Us</h4>
        <p class="description">asdsda</p>
      </div>
      <div class="item">
        <h4>Email Us</h4>
        <p class="description">asdsda</p>
      </div>
    </div>
  </section>
</app-customer-layout>
