@use "@angular/material" as mat;
@use "theme" as theme;
@use "sass:map";

.toolbar {
  position: sticky;
  top: 0;
  z-index: 50;

  .menu-btn {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }

  button {
    color: inherit;
  }
}

.nav-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  background-color: white;
  min-height: calc(100vh - 56px);
}

.nav-item.active {
  background-color: map.get(theme.$primary-palette, 30);
}
