@use "@angular/material" as mat;

.toolbar {
  position: sticky;
  top: 0;
  z-index: 50;

  .menu-btn {
    margin-right: 10px;
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.nav-list {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

main {
  background-color: white;
  padding: 1rem;
  min-height: calc(100vh - 56px);
}
