@use "theme" as theme;
@use "mixins" as *;
@use "sass:map";

.offer-card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  height: 350px;

  .banner {
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 1rem;
    margin: 1rem;

    img {
      object-fit: cover;
    }
  }

  .bottom {
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;

    @include screen("lg") {
      align-items: left;
      text-align: left;
    }

    h4 {
      width: 90%;

      @include screen("md") {
        width: 80%;
      }
    }

    .location {
      font-size: 0.9rem;
      font-weight: 300;
      margin-top: 1rem;
    }

    .small {
      font-size: 0.75rem;
      font-weight: 300;
      margin-top: 0.5rem;
    }

    button {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-weight: 500;
      font-size: 0.8rem;
      width: 50%;
      border-radius: 0%;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
