<div class="customer">
  <header>
    <div class="content">
      <nav class="">
        <a routerLink="/">
          <span class="logo"><img src="/images/home/logo.png" /></span>
        </a>
        <button mat-icon-button class="mobile-menu-btn" (click)="toggleMenu()">
          <mat-icon>
            @if (menuOpen()) {
            {{ getAppIcon("close") }}
            }@else {
            {{ getAppIcon("menu") }}
            }
          </mat-icon>
        </button>
        <nav class="hide-on-mobile">
          <a routerLink="/">Home</a>
          <a routerLink="/menu">Menu</a>
          <a routerLink="/reserve">Reservations</a>
          <a routerLink="/" fragment="about">Our Story</a>
        </nav>
      </nav>
      <nav>
        <a routerLink="/menu" mat-flat-button class="btn">Our Menu</a>
        <a routerLink="/login" class="hide-on-mobile">Sign in</a>
      </nav>
    </div>
  </header>
  <div class="mobile-menu" [class.open]="menuOpen()">
    <a routerLink="/" fragment="offers">Offers</a>
    <a routerLink="/" fragment="about">Our Story</a>
    <a routerLink="/" fragment="contact">Contact Us</a>
    <a routerLink="/login">Sign in</a>
  </div>
  <main><router-outlet /></main>
  <footer>
    <div class="content">
      <div class="top">
        <div class="permalinks">
          <span class="logo"><img src="/images/home/logo.png" /></span>
          <nav class="">
            <a routerLink="/" fragment="about">About Us</a>
            <a routerLink="/" fragment="contact">Contact Us</a>
            <a routerLink="/" fragment="menu">Menu Options</a>
            <a routerLink="/info" fragment="reservation-info"
              >Reservation Info</a
            >
          </nav>
        </div>
        <div class="offer-request">
          <p>To receive latest offers</p>
          <div class="input-email">
            <input type="text" placeholder="Enter your email" />
            <button class="transparent-button">Join</button>
          </div>
        </div>
      </div>
      <div class="bottom">
        <nav class="">
          <a routerLink="/info" fragment="privacy-policy">Privacy Policy</a>
          <a routerLink="/info" fragment="terms-of-service">Terms of Service</a>
          <a routerLink="/info" fragment="terms-of-service">Cookie Settings</a>
        </nav>
        <p class="small">© 2025 THON HOTELS. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
